<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>webarc</title>
    <style>
      td.mono {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <form action="/capture/create/form" method="post">
      <input type="text" name="url" placeholder="url" />
      <label>
        <input type="hidden" name="public" value="false" />
        <input type="checkbox" name="public" value="true" />
        Public?
      </label>
      <br/>
      <input type="submit" />
    </form>
    <table>
      <tr>
        <th>Capture</th>
        <th>Date</th>
        <th>URL</th>
      </tr>
      {% for capture in captures %}
      <tr>
        <td class="mono"><a href="/capture/{{ capture.0 }}/progress">{{ capture.0 | truncate(length=8) }}</a></td>
        <td>{{ capture.1 }}</td>
        <td>{{ capture.2 | truncate(length=50) }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
